
body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    line-height 1.6;
    background-color: #f4f4f4;
    
}
header{
     background-color: gray;
     color:white;
     padding: 15px 0;
     text-align: center;
}
nav ul {
    list-style: none;
    padding:0 15px;
}
nav ul li {
    display:inline;
    margin:015px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
h1{
    text-align: center;
}
img{
    flex: auto;
    height: 100px;
    width: 100px;
    text-align: center;
    justify-content: center;
}
footer{
    background-color: gray;
    text-align: center;